
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container mb-5">
        <div class="row">
            <div class="col-12 text-center mt-1 mt-md-5 mb-5 TextStyleBlue">
                <h1>@Localizer["Header"]</h1>
                <span>@Localizer["Header2"]</span>
            </div>
            <div class="col-12 col-md-6" style="min-width:450px;">
                <div class="mb-3 row">
                    <h4 class="TextStyleBlue font-weight-bold col-12">@Localizer["ReqCall"]</h4>
                    <div class="form col-12 col-md-10">
                        <div class="row" >
                            <input id="requestCallNumber" class="form-control col mt-3" type="text" placeholder="(+374) 93 00 00 00" />
                            <div class="col-auto">
                                <button id="requestCallSubmit" type="button" class="form-control border-0 bg-transparent ImgHover p-0" style="height:70px;">
                                    <img src="~/Icons/Call.png" height="70" />
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="TextStyleBlue" cellpadding="10">
                    <tr>
                        <td class="font-weight-bold">@Localizer["LiveChat"]</td>
                        <td class="text-center">
                            <img src="~/Icons/Chatboxes.png" />
                        </td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">@Localizer["Email"]</td>
                        <td class="text-center">
                            <img src="~/Icons/Email.png" />
                        </td>
                        <td>support@alcantara.com</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">@Localizer["MeetUs"]</td>
                        <td class="text-center">
                            <img src="~/Icons/Location.png" />
                        </td>
                        <td>Yeraz Business Center</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">@Localizer["Phone"]</td>
                        <td class="text-center "><img src="~/Icons/Phone.png" /></td>
                        <td>+(374) 91 00 00 00</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Viber</td>
                        <td class="text-center">
                            <img src="~/Icons/Viber.png" />
                        </td>
                        <td>+(374) 91 00 00 00</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Whatsapp</td>
                        <td class="text-center ">
                            <img src="~/Icons/WhatsApp.png" />
                        </td>
                        <td>+(374) 91 00 00 00</td>
                    </tr>
                </table>
            </div>
            <div class="col-12 col-md-6">
                    <div class="form-group">
                        <input id="requestEmail" class="form-control" type="text" placeholder="@Localizer["Your Email"]" />
                    </div>
                    <div class="form-group">
                        <input id="requestEmailTitle" class="form-control" type="text" placeholder="@Localizer["Subject"]" max="150"/>
                    </div>
                    <div class="form-group border">
                        <textarea id="requestEmailMess" class="form-control border-0 shadow-none" style="resize:none; height:280px;"  placeholder="@Localizer["Message"]" maxlength="500"></textarea>
                        <input id="requestEmailSubmit" type="button" value="@Localizer["Send"]" />
                    </div>
            </div>
        </div>
    </div>
@section Scripts{ 
<script>
    $(document).ready(function () {
        $('#requestCallSubmit').click(function () {
            $.post("/Home/requestCall?number=" + $("#requestCallNumber").val(), function (data) {
                        if (data && data.res) {
                            $("#requestCallNumber").addClass("bg-success").removeClass("bg-danger");
                        }
                        else $("#requestCallNumber").removeClass("bg-success").addClass("bg-danger");
                    });
        });
        $('#requestEmailSubmit').click(function () {
            $.post("/Home/requestEmail", { email: $('#requestEmail').val(), title: $('#requestEmailTitle').val(), mess: $('#requestEmailMess').val() }, function (data) {
                if (data && data.res) {
                    $('#requestEmail').addClass("bg-success").removeClass("bg-danger");
                }
                else $('#requestEmail').removeClass("bg-success").addClass("bg-danger");
            });
        });
        
    });
</script>

}